body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1,h3 {
    text-align: center;
}

section {
    display: grid;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    align-items: center;
    margin: 50px auto; /* Center the section horizontally */
    padding: 20px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    max-width: 200px; /* Set a maximum width for better responsiveness */
    width: 100%; /* Make the links take up 100% of the available width */
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #111010;
    color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    section {
        margin: 20px auto; /* Adjust margin for smaller screens */
    }

    a {
        max-width: none; /* Remove maximum width on smaller screens */
    }
}
