/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Estilos para el formulario */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    cursor: pointer;
}

/* Estilos para los resultados */
#resultados {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

/* Estilos para los resultados - etiquetas e inputs */
#resultados label {
    display: block;
    margin-bottom: 10px;
}

#resultados input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none; /* Desactivar eventos en inputs deshabilitados */
}
