/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Estilos para el formulario */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    cursor: pointer;
}

/* Estilos para los resultados */
#resultados {
    margin-top: 20px;
}

/* Estilos para los resultados - contenedor del país */
#resultados div {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilos para los resultados - etiquetas e inputs */
#resultados h3 {
    margin-bottom: 10px;
}

#resultados p {
    margin-bottom: 8px;
}

#resultados img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}
